.payment-container {
  width: 70%;
  min-width: 500px;
  margin: 10px auto;
  padding: 20px 0 20px 0px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid black;
  align-items: center;
  margin-bottom: 200px;

  .payment-info {
    width: 70%;
  }

  .payment-form {
    min-width: 300px;

    .custom-btn {
      border-color: transparent;
      height: 50px;
      width: 120px;
      margin: 10px;
      background-color: rgb(60, 60, 233);
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-btn:disabled {
      background-color: rgb(71, 158, 229);
    }

  }
}