.payment-container {
  width: 100%;
  min-width: 500px;
  margin: 10px auto;
  padding-bottom: 50px;

  .reservation-detail-container.payment {
    display: flex;
    flex-direction: row;
    .text-info {
      flex: 2;
    }
    .qr-info {
      margin: 50px 0 0 0;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      button {
        margin: 0 auto;
        width: 150px;
      }
    }
  }

  .payment-bottom {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    color: #000000;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
