@import "../../../assets/css/variable.scss";
.cancel-custom-btn {
  height: 30px;
  width: fit-content;
  background-color: transparent;
  border-radius: 10%;
  border: solid 0.5px gray;
  color: #000000;
  margin: 0 5px;
  cursor: pointer;
}

.confitm-custom-btn-primary {
  height: 30px;
  width: fit-content;
  background-color: rgb(0, 94, 255);
  border-radius: 5%;
  border: solid 0.2px transparent;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}
.reservation-container {
  height: 100%;
  width: 100%;
  min-width: 500px;

  .reservation-top {
    background-image: url(../../../assets/images/background1234.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 90%;
    height: 400px;
    position: relative;
    width: inherit;
    .reservation-top-text {
      background: #252323cc;
      padding: 0 100px;
      position: absolute;
      bottom: 0;
      font-size: 80px;
      font-weight: 700;
      font-style: italic;
    }
  }

  .reservation-form {
    margin: 20px auto;
    background: #fffffff2;
    width: 45%;
    height: auto;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    margin-bottom: 200px;

    textarea {
      resize: none;
    }

    label {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      padding: 0 20px;
    }

    .custom-btn {
      width: 200px;
      height: 50px;
      padding: 10px 20px;
      border: 2px solid #000000;
      //
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      //
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: aliceblue;
        background: black;
      }
    }
  }

  .modal-item {
    padding: 10px 20px;
  }
}

.reservation-detail-container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  color: #000000;
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;

  .detail-title {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
  }

  .detail-item {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    label {
      flex: 2;
      font-size: 18px;
    }
    .detail-content {
      flex: 4;
    }
  }
}
