.user-profile {
  height: 700px;
  width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.button-group {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.user-profile h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.profile-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: #555555;
  flex-basis: 120px;
}

span {
  font-weight: normal;
  color: #777777;
}

.edit-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #45a049;
}

.save-button,
.cancel-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #1e87db;
}

.eye-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.eye-icon:hover {
  opacity: 0.7;
}
